<html>
    <title>hello golang</title>
    <body>
        <h1 style='color:red'>
            hello Golang!
        </h1>
        <h1>
            hello gin!
        </h1>
        <img id="i1" src="https://img0.baidu.com/it/u=1838428388,2694634019&fm=253&fmt=auto&app=120&f=JPEG?w=500&h=750">
        <button id="b1" >点我</button>
    </body>
    <script>
        document.getElementById("b1").onclick=function(){
            document.getElementById("i1").src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20180802%2Fb4e983395be14c719d8dfa29c63916d6.jpeg&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671937929&t=719034fd2475b67cae997bf856f27081"
        }
    </script>
</html>